.contentWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;

  .loadingContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: white;
  }
}
.dateButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .buttons {
    display: flex;

    @media(max-width: 450px) {
      flex-direction: column;
      width: 100%;
    }

    .button {
      height: 40px;
      margin-right: 10px;
      margin-bottom: 10px;

      @media(max-width: 450px) {
        width: 100%;
      }
    }
  }

  .dateContainer {
    display: flex;
    margin-bottom: 10px;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media(max-width: 619px) {
      justify-content: center;
    }

    .labelInputRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      @media(max-width: 619px) {
        width: 280px;
      }

      .label {
        margin-right: 10px;
        font-size: 20px;
      }
      .customDatePicker {
        width: 100%;
        max-width: 170px;
        margin-right: 10px;
        & > div {
          border: 1px solid #C4C4C4;
          padding: 5px 8px;
          border-radius: 10px;
        }
      }
    }
    
  }
}
.dataContainers {
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .list {
    width: 600px;
    padding-top: 20px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: plum;

    .listTitle {
      padding-bottom: 20px;
      font-size: 20px;
    }

    .discount {
      cursor: pointer;
    }
  }
}

.pieChart {
  width: 600px;
  height: 350px;
  background-color: mediumspringgreen;

  @media(max-width: 700px){
    width: 500px;
    height: 450px;
  }

  @media(max-width: 550px){
    width: 400px;
    height: 450px;
  }

  @media(max-width: 425px){
    width: 280px;
    height: 400px;
  }

  
}