.modalContent {
  position: relative;
  width: 500px;
  padding: 0 10px 10px;
  margin-top: -10px;
  .inputContainer {
    width: 100%;
    margin-bottom: 10px;
  }
  .twoColumnsWrapper {
    display: flex;
    justify-content: space-between;
    & > div {
      flex-basis: 45%;
    }
  }
  .textareaWrapper {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 5px;
    }
    textarea {
      border: 1px solid #C4C4C4;
      border-radius: 10px;
      padding: 5px 10px;
      height: 80px;
      resize: vertical;
      &.shortDescr {
        height: 38px;
      }
    }
  }
  .discountDateSection {
    margin: 20px auto 10px;
    .inputContainer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      input {
        max-width: 115px;
      }
    }
  }
  .labelInputRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .customDatePicker {
      width: 100%;
      max-width: 170px;
      & > div {
        border: 1px solid #C4C4C4;
        padding: 5px 8px;
        border-radius: 10px;
      }
    }
  }
  .btnContainer {
    display: flex;
    justify-content: flex-end;
  }
}

.error {
  color: red;
  padding-top: 3px;
}

.successMessageContainer, .loadingContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: white;

    .successMessage {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
}

.errorMessage {
  padding: 20px 0;
  color: red
}

.formDisplayNone {
  display: none;
}

@media (max-width: 650px) {
  .modalContent {
    width: 100%;
    min-width: 350px;
    .discountDateSection {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}