@import '../../../../variables.scss';

.categoryBlock {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid $color--gray-light;
    border-radius: 10px;
    margin: 10px 0;
    justify-content: space-between;
}

.categoryText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto 0 10px;
}

.buttons {
    display: flex;
    .editBtn {
      margin: 0 10px;
    }
    .detailsBtn {
      border: 1px solid $color--blue-light;
      background-color: $color--blue-light;
      color: $color--primary-white;
      padding: 5px 10px;
      border-radius: 5px;
      transition: 0.1s;
      text-align: center;
      &:hover {
        background-color: $color--blue-dark;
        border-color: $color--blue-dark;
      }
    }
  }

.row {
    flex-direction: row;
}