@import '../../variables.scss';
.container-select-field {
  width: 200px;
}
.label-select-field {
  display: flex;
  justify-content: flex-start;
  color: $color--primary-black;
  font-size: 14px;
  padding-bottom: 5px;
}