@import '../../variables.scss';

.container {
  width: 200px;
  padding: 0 10px;
}
.label {
  display: flex;
  justify-content: flex-start;
  color: $color--primary-black;
  font-size: 14px;
  padding-bottom: 5px;
}