$color--primary-white: #FFFFFF;
$color--blue-light: #40BFEF;
$color--blue-dark: #0082CA;
$color--gray: #C0C0C0;
.btn {
  background-color: $color--blue-light;
  color: $color--primary-white;
  border-radius: .3rem;
  border: none;
  padding: .8rem 2rem;
  transition: all .5s;
  font-size: 1rem;
  text-transform: uppercase;
  &:hover {
    background-color: $color--blue-dark;
    cursor: pointer;
  }
  &[disabled="true"] {
    background-color: $color--gray;
  }
}
