@import '../../variables.scss';

.actionBtn {
  cursor: pointer;
  border: 1px solid $color--blue-light;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.1s;
  &.normal {
    background-color: $color--blue-light;
    color: $color--primary-white;
    &:hover {
      border-color: $color--blue-dark;
      background-color: $color--blue-dark;
    }
  }
  &.edit {
    border-color: $color--blue-dark;
    color: $color--blue-dark;
    &:hover {
      color: $color--primary-white;
      background-color: $color--blue-dark;
      border-color: $color--blue-dark;
    }
  } 
  &.delete {
    border-radius: 5px;
    border-color: $color--gray-dark;
    color: $color--gray-dark;
    background-color: transparent;
    padding: 5px 10px;
    &:hover {
      background-color: $color--gray-dark;
      color: $color--primary-white;
    }
  }
  &.disabled {
    border-radius: 5px;
    background-color: $color--gray-dark;
    color: $color--primary-white;
    border: none;
    padding: 5px 10px;
    cursor: not-allowed;
    &:hover {
      background-color: $color--gray-dark;
      color: $color--primary-white;
    }
  }
}