@import '../../variables.scss';

.actionBtn {
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
 &.normal {
   background-color: $color--blue-light;
   color: $color--primary-white;
   margin-right: 10px;
   &:hover {
    background-color: $color--blue-dark;
   }
 } 
 &.delete {
  background-color: $color--gray-faded;
  color: $color--primary-black;
  &:hover {
    background-color: $color--gray-light;
   }
 }
}
