@import '../../variables.scss';
.borderCard {
  width: 100%;
  min-width: 280px;
  height: 100%;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .1);
  border: 1px solid #fbfbfb;
  padding: 8px;
  position: relative;
}

.roundImg {
  border-radius: 10px;
  margin: 10px 3px auto 5px;
  width: 90px;
  height: 90px;
}

.row {
  display: flex;
  margin: 5px 0 7px;
}
.titleWrapper {
  margin-right: 30px;
  text-transform: capitalize;
}
.descrTag {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.col1 {
  flex-grow: 1;
}

.col2 {
  flex-grow: 3;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col3 {
  margin: 0;
  display: flex;
  align-items: center;
  p {
    margin-left: 3px;
  }
}
.col3 + .col3 {
  margin-top: 5px;
}
.info {
  flex-direction: column;
  align-items: flex-start;
}

.description {
  color: #8B8B8B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disc {
  text-align: right;
  background-color: $color--blue-dark;
  color: $color--primary-white;
  padding: 3px;
  border-radius: 0 3px 3px 0;
  position: relative;
  margin-left: auto;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -32px;
    border: 12px solid transparent;
    border-right: 20px solid $color--blue-dark;
  }
  &.amount {
    background-color: $color--amount-tag;
    &::before {
      border-right-color: $color--amount-tag;
    }
  }
  &.hot {
    background-color: $color--hot-tag;
    &::before {
      border-right-color: $color--hot-tag;
    }
  }
}
.currency {
  font-size: .8rem;
}
.like {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.discountTag {
  align-self: flex-end;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagsWrapper {
  flex-basis: 73%;
  li {
    display: inline-block;
    font-size: 0.9rem;
  }
}