.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
// .contentWrapper {
//   max-width: 1400px;
//   width: 100%;
//   margin: 0 auto;
//   padding: 0 15px;
//   display: flex;
// }

.contentWrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}