.discountsList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  grid-gap: 16px;
  justify-content: center;
  margin: 16px 0;
}

@media (max-width: 1200px) {
  .discountsList {
    grid-template-columns: repeat(2, minmax(45%, 500px));
  }
}

@media (max-width: 768px) {
  .discountsList {
    grid-template-columns: minmax(280px, 500px);
  }
}