@import '../../variables.scss';
.contentWrapper {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.discountsFilter {
  padding: 10px 0;
  flex-wrap: nowrap;
}
.discountsActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color--gray-light;
  padding: 15px 0;
}
.discountsContainer {
  .loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
}
.modalMinSize {
  min-width: 400px;
  min-height: 140px;
  transition: all .5s;
}

@media (max-width: 375px) {
  .modalMinSize {
    min-width: 360px;
  }
}
@media (max-width: 320px) {
  .modalMinSize {
    min-width: 310px;
  }
}