@import '../../variables.scss';
.containerFluid {
  width: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.discountsFilter {
  padding: 10px 0;
  flex-wrap: nowrap;
}
.discountsActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  .discountsAdd.discountsAdd {
    background-color: transparent;
    color: $color--blue-dark;
    display: flex;
    align-items: center;
    transition: all .5s;
    &:hover {
      background-color: transparent;
      color: $color--blue-dark;
      font-weight: bold;
    }
  }
}
.discountsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}
.discountsShowMoreBtnWrap {
  text-align: center;
}
.discountsShowMoreBtn {
  margin: 1rem 0;
}
