@import '../../variables.scss';
.containerFluid {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.discountsFilter {
  padding: 10px 0;
  flex-wrap: nowrap;
}
.discountsActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color--gray-light;
  padding: 15px 0;
}
