@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(366.26% 107.23% at 50% 50%, #0082CA 6.77%, rgba(255, 255, 255, 0) 100%), #40bfef47;
  .logo {
    color: $color--primary-white;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 20px;
    &Item {
      display: block;
      font-size: 3em;
    }
  }
}
.contentWrapper {
  width: 410px;
  height: 400px;
  background-color: $color--primary-white;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.27);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media(max-width: 400px) {
    width: 300px;
    padding: 30px 10px;
  }

  .loadingContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: white;
  }

  .errorMessage {
    color: red
  }

  .image{
    margin-bottom: 10px;
  }

  .userInfo {
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discountInfo {
    padding: 20px 0;
    border-top: 1px solid  $color--blue-dark;

    h3 {
      padding: 10px 0;
    }
  }

  .vendorInfo {
    border-top: 1px solid  $color--blue-dark;
    padding: 20px 0;

  }

}