@import '../../variables.scss';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color--primary-white;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
}
.logo {
  color: $color--blue-dark;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  &Item {
    display: block;
    font-size: 2em;
  }
}
.nav {
  &List {
    display: flex;
    list-style: none;
  }
  &Item {
    text-transform: uppercase;
    &Link {
      color: $color--gray-dark;
      text-decoration: none;
      transition: all .5s;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
.navItem + .navItem {
  margin-left: 2rem;
}