@import '../../variables.scss';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color--primary-white;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
}
.adminDropDownContainer {
  position: relative;
  .dropDown {
    display: none;
    position: absolute;
    padding-top: 10px;
    background: white;
    top: 100%;
    left: -50px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    .navItemLink {
      width: 150px;
      padding: 5px;
      display: flex;
      justify-content: center;
      transition: all 0.5s;
      &:hover {
        background-color: rgb(215, 219, 218);
      }
    }
  }
  &:hover {
    .dropDown {
      display: block;
    }
  }
}
.logo {
  color: $color--blue-dark;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  &Item {
    display: block;
    font-size: 2em;
  }
}
.nav {
  &List {
    display: flex;
    list-style: none;
  }
}
.navItem + .navItem {
  margin-left: 2rem;
}
.navItemLink {
  text-transform: uppercase;
  color: $color--gray-dark;
  text-decoration: none;
  transition: all .1s;
  display: inline-block;
  &:hover {
    color: $color--primary-black;
    transform: scale(1.05);
  }
}
.activeClassName {
  border-bottom: 2px solid $color--blue-light;
  padding: 0 0 5px 0;
}


@media (min-width: 768px) {
  .mobileLogoutButton, .burgerMenuIcon {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .header{
    position: relative;
  }

  html {
    overflow:  hidden;
  }

  .mobileLogoutButton {
    border: 0 !important;
    padding: 0 !important;
  }



  .nav {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    top: 100%;
    left: 0;
    z-index: 1;
    height: 1000px;
    &.mobileNavOpened {
      display: block;
    }
    .navList {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .navItem {
      margin: 10px 0;
      &:nth-child(1) {
        margin: 0;
      }
    }
    .activeClassName {
      border: none;
    }
  }

  .adminDropDownContainer {
    .dropDown {
      display: block;
      position: inherit;
      padding-top: 10px;
      background: none;
      top: 0;
      left: 0;
      box-shadow: none;
      p:nth-child(1) {
        padding-bottom: 5px;
      }
    }
    .navItemLink {
      display: none;
    }
  }

  .langSelect {
    width: 50px;
  }
  .desktopLogoutButton {
    display: none;
  }
  
}