@import '../../variables.scss';

.footerWrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;

  .footerContent {
    padding: 10px 0;
    border-top: 1px solid $color--gray-light;
  }

  .slogan {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 8px;
  }

  .copyright {
    font-size: 0.9rem;
  }
}
