@import '../../variables.scss';

.footer-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 15px;
  padding-right: 15px;
  border-top: 1px solid $color--gray-light;
  text-align: center;

  .slogan {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .copyright {
    font-size: 0.9rem;
  }
}
