@import '../../variables.scss';
.btn {
  background-color: $color--blue-light;
  color: $color--primary-white;
  border-radius: .3rem;
  border: none;
  padding: .8rem 2rem;
  transition: all .5s;
  font-size: 1rem;
  text-transform: uppercase;
}
.btn_bordered {
  background-color: transparent;
  border: 1px solid $color--gray-dark;
  color: $color--gray-dark;
  &:hover {
    background-color: $color--gray-dark;
    color: #fff;
    cursor: pointer;
  }
}