.container {
  display: flex;
  padding: 10px 0;
  align-items: flex-end;
  width: 100%;

    .filtersContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      flex-wrap: wrap;

        .filter {
          padding: 0 10px;
          margin-bottom: 10px;
        }
        .filterSort {
          width: 100px;
        }

        .buttonContainer {
          display: flex;
          width: 100px;
          height: 38px;
          align-self: flex-end;
          margin-bottom: 10px;
        }

    }

}
