.container {
  display: flex;
  padding: 10px 70px;
  align-items: flex-end;
  flex-wrap: wrap;

    @media(max-width: 1220px) {
      padding: 10px;
    }

    @media(max-width: 450px) {
      flex-direction: column;
      align-items: center;
    }

    .filtersContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

        .smallColumn {
          display: flex;
          justify-content: space-around;

          @media(max-width: 1100px) {
            justify-content: space-between;
          }

          @media(max-width: 450px) {
            flex-direction: column;
          }

        }
    
        @media(max-width: 1220px) {
          flex-grow: 1;
        }

        @media(max-width: 850px) {
          flex-direction: column;
        }

    }

    .inputContainer {
      display: flex;
      margin-left: 0;
      margin-bottom: 10px;
      width: 200px;

        @media(max-width: 1100px) {
          margin-left: 50px;
          margin-top: 20px;
          justify-content: flex-start;
        }

        @media(max-width: 650px) {
          margin-left: 10px;
        }
    }

    .buttonContainer {
      display: flex;
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 10px;
      width: 130px;
      justify-content: flex-end;

        @media(max-width: 1100px) {
          margin-top: 20px;
          margin-right: 50px;
        }

        @media(max-width: 450px) {
          margin-right: auto;
        }

    }
}
