.discountContainer {
  display: grid;
  grid-template-columns: .05fr .13fr .15fr .32fr .23fr .1fr .1fr;
  width: 100%;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  &> * {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.button {
  padding-right: 10px;
  justify-self: center;
}
.img {
  margin-right: 5px;
  &> img{
  max-width: 100%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 5px;

  }
}