.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}
.contentWrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
