$color--primary-white: #FFFFFF;
$color--primary-black: #1D1D1D;
$color--blue-light: #40BFEF;
$color--blue-dark: #0082CA;
$color--gray: #C0C0C0;
$color--gray-dark: #a0a0a0;
$color--gray-light: #C4C4C4;
$color--gray-faded: #EEEEEE;
