.noContentPlaceholder {
    text-align: center; 
    margin: 10vh;
}
.tags {
    margin: 0 10vh 0 10vh;
}
.accordionDetails {
    display: flex;
    flex-wrap: wrap;
}
.categoriesList {
    margin: 10px 0;
}

@media(max-width: 425px) {
    .accordionDetails {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 0;
        width: 100%;
    }
}